body {
    background-image: url(zebra.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    
}



.container {
  /*  background: linear-gradient(to right,#00ccff,#b3f0ff);
    box-shadow: 3px 5px 3px black;*/
}

h1  {
    color: white;
    text-shadow: 2px 2px  5px black;
}

h2 {
    color: rgb(0,204,255);
    text-shadow: 1px 1px 3px darkblue;
}
.borderImg {
    border-right: 10px solid aqua;
    
}

ul li {
    
   color:red;
    font-size: 20px;
}
  
ul > li {
    color: yellow;
}