html {
    font-family:"Times New Roman", serif, sans-serif;
}


body {
 /*   background-image: url(zebra.jfif);*/
 /*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
    background-color: #444;  
    text-align: center;
    
}




h1,h2,h3  {
    color: white;
   
    line-height: 1rem;
    font-style:italic;
}

h2{
    font-size: 30px;
    font-style: normal;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: yellow;
    word-spacing: 30px;
    text-transform: uppercase;
}

.formatting{
    font-size: 25px;
    line-height: 2em;
    color: white;
}


.borderImg {
    border-right: 10px solid aqua;
    
}

ul li {
    
   color:red;
    font-size: 20px;
}
  
ul > li {
    color: yellow;
}